---
import { sanityClient } from "sanity:client";

const organizationInfoQuery = `*[_type == "footerOrganizationInfo"][0]{
  organizationInfo
}`;

const footerOrganizationInfo = await sanityClient.fetch(organizationInfoQuery);
---

<footer class="bg-[#000C5F] text-white py-8">
  <div class="container mx-auto px-4 flex flex-col lg:flex-row justify-between gap-8">
    <!-- Левая часть -->
    <div class="flex flex-col lg:w-1/3">
      <ul class="space-y-2">
        <li>
          <a
            href="/about"
            class="relative text-xl py-2 hover:text-[#000C5F] transition-colors duration-300 rounded-full hover:bg-white"
          >
            О НАС
          </a>
        </li>
        <li>
          <a
            href="/dumkchr"
            class="relative text-xl py-2 hover:text-[#000C5F] transition-colors duration-300 rounded-full hover:bg-white"
          >
            ДУМ КЧР
          </a>
        </li>
        <li>
          <a
            href="/mediaInfo"
            class="relative text-xl py-2 hover:text-[#000C5F] transition-colors duration-300 rounded-full hover:bg-white"
          >
            ДЛЯ СМИ
          </a>
        </li>
      </ul>
      <p class="mt-4 text-xs">
        {footerOrganizationInfo.organizationInfo}
      </p>
    </div>

    <!-- Центральная часть -->
    <div class="flex flex-col lg:w-1/3">
      <div class="flex items-center mb-4">
        <img class="mr-2" src="/icons/time.svg" alt="Время работы">
        <span>ПН-ПТ: 09:00 - 17:00</span>
      </div>
      <div class="flex items-center mb-4">
        <img class="mr-2" src="/icons/phone.svg" alt="Номер телефона">
        <span>+7 (878) 228-42-36</span>
      </div>
      <div class="flex items-center mb-4">
        <img class="mr-2" src="/icons/mail.svg" alt="Почта">
        <span>medrese09@mail.ru</span>
      </div>
    </div>

    <!-- Правая часть -->
    <div class="flex flex-col lg:w-1/3">
      <h2 class="text-xl font-semibold mb-4">КАК НАС НАЙТИ</h2>
      <div class="relative h-64">
        <div id="map" class="w-full h-full"></div>
      </div>
    </div>
  </div>
</footer>

<!-- Подключение Яндекс.Карт -->
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=f41f1840-1f3a-4588-bd6a-92cbafe85597" type="text/javascript"></script>
<script type="text/javascript">
  ymaps.ready(init);
  function init() {
    // Создание карты с центром на указанном адресе
    var myMap = new ymaps.Map("map", {
      center: [43.942130, 42.509262], // Обновленные координаты
      zoom: 15
    });

    // Создание метки на карте
    var myPlacemark = new ymaps.Placemark([43.942130, 42.509262], {
      balloonContent: 'Медресе-Интернат КЧР'
    }, {
      preset: 'islands#icon',
      iconColor: '#0095b6'
    });

    // Добавление метки на карту
    myMap.geoObjects.add(myPlacemark);
  }
</script>
