---
import { sanityClient } from "sanity:client";

// Fetch data from Sanity
const query = `*[_type == "banner"][0] { title, image { asset-> { url } } }`;
const data = await sanityClient.fetch(query);
const { title, image } = data;
---

<section
  class="relative h-[70vh] max-h-[900px] bg-cover bg-center text-white"
  style={`background-image: url('${image?.asset?.url}');`}
>
  <!-- Background dimming -->
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="relative flex justify-center h-full px-4">
    <h1
      class="text-center text-[50px] md:text-[100px] font-extrabold leading-tight"
      style="font-family: 'Days One', sans-serif;"
    >
      {title}
    </h1>
  </div>
</section>
