---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Медресе Карачаево-Черкасской Республики</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Geologica:wght@200;300&display=swap"
      rel="stylesheet"
    />

    <style>
      @font-face {
        font-family: "Days One";
        src: url("/fonts/DaysOne.ttf") format("truetype");
        font-weight: 700;
        font-style: normal;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
